<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header">
            <a href="/">
            <h1>RUN<span>NER</span></h1>
            </a>
            <a class="add-btn" href="/add">ADD <span>+</span></a>
        </div>
    </header>
    <main>
        <div class="main-top-container">
            <img src="https://www.hoka.com/on/demandware.static/-/Sites/default/dw527568ef/hoka-emea/images/2022/cat-banner/S22-MAR-Speedgoat5-Launch-Men-D-EC-5135.jpg" alt="shoe">
            <div class="main-top-text-container">
                <div class="main-top-text">
                    <p>Hoka One One</p>
                    <h2>fly on clouds & <br> beat the trail</h2>
                    <h3>speedgoat 5</h3>
                </div>
            </div>
        </div>
        <div class="product-text">
            <h2>products</h2>
            <div class="devider"></div>
        </div>
        <div class="shoes">
        <% if(shoes.length > 0) { %> <% shoes.forEach(shoe => { %>
            <div class="shoes-container" style="background-image: url('<%= shoe.image %>')">
                <div class="shoes-box-top">
                    <p class="shoes-brand"><%= shoe.brand %></p>
                    <h3 class="shoes-title"><%= shoe.title %></h3>
                </div>
                <div class="shoes-box-bottom">
                    <p class="shoes-price-text">Price</p>
                    <p class="shoes-price"><%= shoe.price %>:-</p>
                </div>
                <div class="shoes-btn">
                    <a href="/shoes/<%= shoe.id %>">Details</a>
                </div>
            </div>
        <% }) %> <% } else { %>
        <p>No shoes to display...</p>
        <% } %>
        </div>
      </main>
</body>
</html>